@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "synthwave";
  default: true;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: #221022;
  --color-base-200: #f425f4;
  --color-base-300: oklch(27% 0.033 256.848);
  --color-base-content: oklch(96% 0.003 264.542);
  --color-primary: #2d1b2d;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(83% 0.145 321.434);
  --color-secondary-content: oklch(29% 0.136 325.661);
  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(13% 0.028 261.692);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
.dev{
  outline: 1px solid red;
}
.transition:hover{
  transition: .10s;
}